body {
    background-color: lightgoldenrodyellow;
    font-family:'Bebas Neue', cursive;
    font-size: 18px;
    line-height: 22px;
}

header{
    background-color: rgb(136, 19, 19);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1{
    color: lightgoldenrodyellow;

}

header img{
    border-radius: 300px;
    object-fit: cover;
    border: 20px solid #ee1f30;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px;
}

main img {
    max-width: 100%;
}

h2{
    font-size: 30px;
    color: rgb(136, 19, 19); ;
}

p{
    font-size: 18px;
    color: rgb(136, 19, 19);
}

a{
    color:  rgb(136, 19, 19);
}

a:hover{
    background-color:  rgb(136, 19, 19);
    color: lightslategrey;
}

footer{
    background-color: rgb(136, 19, 19);
    text-align: center;
    padding: 30px;
   

}

footer p{
    margin: 0px;
    color: black;
}

.caption {
    color: salmon;
    margin: 0px;
}

.cor_paragrafo{
    color: crimson;
}